.buttonSty {
    -fx-background-color: #4d004d; /* Hintergrundfarbe für Buttons */
    -fx-background-radius: 10px;
    -fx-text-fill: #ffffff;       /* Textfarbe für Buttons */
    -fx-font-size: 14px;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-border-color: #330033;
    -fx-border-width: 2px;
    -fx-border-radius:10px;
}

.buttonSty:hover {
    -fx-background-color: #800080;
}

.root {
    -fx-background-color: #00001a;
}

/*scrollpane*/
.SPSty {
    -fx-background: #00001a;
    -fx-border-color: #00001a;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

.SPSty > .corner {
    -fx-background-color: #00001a;
}

.scroll-bar:vertical {
    -fx-background-color: #00001a;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #00b8e6;
}

.scroll-bar:horizontal {
    -fx-background-color: #00001a;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #00b8e6;
}

/*mainly used for labels*/
.textSty {
    -fx-text-fill: #ffffff;
}

/* TextField */
.TFSty {
    -fx-background-color: #4d004d;
    -fx-text-fill: #ffffff;
    -fx-border-color: #330033;
}

/* CheckBox */
.CB {
    -fx-text-fill: #ffffff;
    -fx-padding: 4px, 0px;
}

.CB .box {
    -fx-background-color: #4d004d;
    -fx-border-color: #330033;
}

.CB:selected .box {
    -fx-background-color: #cc0000;
}

/*Text elm*/
.TStyle {
    -fx-fill: #ffffff;
}

#radioWDT {
    -fx-text-fill: #ffffff;
}

#radioWDT .box{
    -fx-background-color: #4d004d;
}
